.homeNavList {
  list-style: none;

}

.aboutMeLink {
  display: flex;
  flex-direction: column;
  align-items: flex-end;


}

.homeLink {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

h2 {
  color: blue;
}

p {
  color: red;
}

#foot {
  color: brown;
}

